<div style="
    margin-top: 1rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
">
    <p style="text-align: center; font-weight: bold">
        Upozornění - tyto stránky jsou archivovány.
    </p>

    <p style="text-align: center">
        Kip tým Olomouckého kraje, v té podobě jak je popsán na těchto stránkách v současné době nefunguje. Stránky jsou
        uchovány z archivních důvodů.
    </p>
</div>
